.caption {
    color: rgb(85, 3, 123);
    background-color: rgb(166, 27, 231);
    width: 60px;
    padding: 5px;
    border: rgb(126, 59, 162) 2px solid;
    border-radius: 5px 5px 0px 0px;
    font-weight: bolder;
    box-shadow: 0px 0px 5px rgb(85, 21, 120);
    position: relative;
    left: 2px;
}

.content {
    color: rgb(85, 3, 123);
    background-color: rgb(166, 27, 231);
    padding: 10px;
    height: 200px;
    width: 500px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 0px 5px rgb(85, 21, 120);
    position: relative;
    z-index: 20;
}