.arrow-box {
    background-color: rgb(101, 154, 233);
    position: relative;
    margin-top: 50px;
    width: 300px;
    border: 5px solid rgb(90, 224, 245);
    padding: 5px;
}

.arrow-box::before {
    content: '';
    position: absolute;
    display: inline-block;
    border: 30px solid transparent;
    border-bottom: 20px solid rgb(90, 224, 245);
    bottom: 102px;
    left: 120px;
}

.arrow-box::after {
    content: '';
    position: absolute;
    display: inline-block;
    border: 25px solid transparent;
    border-bottom: 17px solid rgb(101, 154, 233);
    bottom: 99px;
    left: 125px;
}