body {
    color: grey;
}

th {
    background-color: rgba(30, 143, 255, 0.61);
    text-transform: uppercase;
}

td {
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 255, 255, 0.596);
}

tbody tr:nth-child(odd):hover {
    background-color: rgba(128, 128, 128, 0.74);
}

tbody tr:nth-child(even) {
    background-color: rgba(127, 255, 212, 0.603);
}

tbody tr:nth-child(even):hover {
    background-color: rgba(128, 128, 128, 0.74);
}